notebook
pynwb
h5py
pyopenephys
neo
klusta
klustakwik2
herdingspikes
git+https://github.com/catalystneuro/nwb-conversion-tools@blackrock_datainterface
git+https://github.com/SpikeInterface/spiketoolkit
git+https://github.com/SpikeInterface/spikeextractors